h1 {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 36px;
}

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}
  
/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}
  
/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}
  

.form-group > form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group > form > div {
    display: flex;
}

.form-group > form > div > button {
    width: 200px;
    border: none;
    background-color: rgb(226, 226, 226);
}

.form-group > form > div > button:hover {
    width: 200px;
    border: none;
    background-color: #cccccc;
}

.form-group > form > span {
    font-size: 14px;
    color: green
}

/* User table */

.user-list-container {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.07em;

    border: 1px solid rgb(229, 229, 229);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(232, 232, 232, 0.55);
    -moz-box-shadow: 0px 4px 8px 0px rgba(232, 232, 232, 0.55);
    box-shadow: 0px 4px 8px 0px rgba(232, 232, 232, 0.55);
    border-radius: 8px;

    overflow: hidden;
    padding: 16px;
}

.form-select {
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 16px 0px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(31, 31, 31);
}

.user-table th{
    font-weight: 600;
}

.user-table td{
    border-top: 1px solid rgba(134, 134, 134, 0.16);
}

.user-table th, td {
    text-align: left;
    padding: 12px;
}

.added-student {
    background-color: rgb(108, 255, 108);
}

.removed-student {
    background-color: rgb(255, 103, 103);
}

.btn-container {
    display: flex;
    gap: 8px;
}

.btn-container > a {
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 24px;
    margin-top: 16px;
}

.btn-revert {
    background-color: rgb(255, 176, 176);
}

.btn-revert:hover {
    background-color: rgb(255, 106, 106);
}

.btn-update {
    background-color: rgb(198, 255, 198);
}

.btn-update:hover {
    background-color: rgb(109, 255, 109);
}
