<h1>Университетска информационна система</h1>

<div class="form-group">
    <form [formGroup]="csvForm" (ngSubmit)="getCohortsUpdateData()">
        <div>
            <input type="file" id="csvFile" (change)="onUploadFile($event)" formControlName="csvFile">

            <button type="submit">
                Изпрати
            </button>
        </div>

        <span>Прикачете файл с обновената информация за студентите</span>
    </form>
</div>

@defer (when cohortsUpdateData) {
    @if (cohortsUpdateData && cohortsUpdateData.length > 0) {
        <select class="form-select" [(ngModel)]="selectedCohort">
            @for (cohort of cohortsUpdateData; track cohort.cohortId) {
                <option [ngValue]="cohort">{{ cohort.cohortName }}</option>
            }
        </select>
    
       @defer (when selectedCohort) {
            <div class="user-list-container">
                <table class="user-table">
                    <thead>
                        <tr>
                            <th>Потребителско име</th>
                            <th>Име</th>
                            <th>Презиме</th>
                            <th>Фамилия</th>
                            <th>Имейл</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- All students from the cohort -->
                        <ng-container *ngTemplateOutlet="dataCols; context: { students: selectedCohort.allStudents }"></ng-container>
    
                        <!-- Students that will be removed -->
                        <ng-container *ngTemplateOutlet="dataCols; context: { students: selectedCohort.studentsToRemoveFromCohort, class: 'removed-student' }"></ng-container>
    
                         <!-- Students that will be added -->
                         <ng-container *ngTemplateOutlet="dataCols; context: { students: selectedCohort.studentsToAddToCohort, class: 'added-student' }"></ng-container>
                    </tbody>
                </table>
            </div>
       }
    
       <div class="btn-container">
            <a class="btn-revert" (click)="revertChanges()">Върни промените</a>
            <a class="btn-update" (click)="updateCohorts()">Одобри</a>
        </div>
    } @else {
        <div class="no-change">{{ cohortsStatusSnackbar }}</div>
    }
}

<ng-template #dataCols let-students="students" let-class="class">
    @for (studentInfo of students; track selectedCohort.cohortId)
    {
        <tr [ngClass]="class">
            <td>{{ studentInfo.username }}</td>
            <td>{{ studentInfo.firstname }}</td>
            <td>{{ studentInfo.middlename }}</td>
            <td>{{ studentInfo.lastname }}</td>
            <td>{{ studentInfo.email }}</td>
        </tr>
    }
</ng-template>
